<div
  class="
    card
    border
    w-96
    hover:shadow-none
    relative
    flex flex-col
    rounded
    mx-auto
    shadow-lg
    m-5
  "
>
  <img
    class="max-h-20 w-full opacity-80 absolute top-0 rounded-t"
    style="z-index: -1"
    [src]="'https://picsum.photos/400/100?' + user.name"
    alt=""
  />
  <div class="profile w-full flex m-3 ml-4 text-white">
    <img
      class="w-28 h-28 p-1 bg-white rounded-full"
      [src]="'https://i.pravatar.cc/150?' + user.name"
      alt=""
    />
    <div class="title mt-11 ml-3 font-bold flex flex-col">
      <div class="name break-words">{{ user.name }}</div>
      <div class="add font-semibold text-sm italic text-gray-400">
        {{ user.profession }}
      </div>
    </div>
  </div>
  <div
    class="
      buttons
      flex
      absolute
      bottom-0
      font-bold
      right-0
      text-xs text-white
      space-x-0
      my-3.5
      mr-3
    "
  >
    <button
      class="
        border-2 border-transparent
        bg-red-500
        py-1
        px-2
        font-bold
        uppercase
        text-white
        rounded
        transition-all
        hover:border-red-500 hover:bg-transparent hover:text-red-500
      "
      (click)="removeUser()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
        />
      </svg>
    </button>
  </div>
</div>
